:root{
  --placeholder-color:#aaa;
  --handle-color:#444;
}

/*_______________________________________________________________________*/
/* Controls styling */
.rb-delete-sortable{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


/* li{
  list-style-type: none;
} */
/*________________________________________________________________________*/
/*Sortable styling*/
.rb-controls{
  float: right;
  font-size:medium;
  display:inline-block;
  margin-top: .2rem;
  margin-bottom: 0.2rem;
}
.rb-handle{
  cursor:grab;
  /* margin-left: 2em; */
  &:active {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
  /* if we want our hamburger drag lines in CSS */
  /* &:before {
    content:""; 
    display: inline-block;
    width: 15px;
    height: 12px;
    background: linear-gradient(
      to bottom,
      var(--handle-color) 0, var(--handle-color) 2px,
      transparent 2px, transparent 6px,
      var(--handle-color) 6px, var(--handle-color) 8px,
      transparent 8px, transparent 10px,
      var(--handle-color) 10px, var(--handle-color) 12px
    );
    filter: brightness(80%);
  } */
}
.rb-sortable-list > *:not(.rb-section-header):not(.rb-controls){
  border:2px solid rgb(114, 114, 114);
  border-radius: 5px;
  padding:2px;
} 
/* .rb-sortable-list > :is(div, li):not(.rb-section-header):not(.rb-controls) {
  border: 2px solid rgb(114, 114, 114);
  border-radius: 5px;
  padding: 2px;
} */
.rb-sortable-ghost {
  opacity: 0.4;
}

.rb-do-not-export{
  opacity: 50%;
}
/*_______________________________________________________________________________________________*/
/* DROPDOWN CSS */
/* Dropdown Button */
.rb-dropbtn {
    background-color: rgb(211, 110, 84);
    color: white;
    padding: 5px 10px ;
    font-size: 25pt;
    border: none;
    cursor: pointer;
}
button{
  cursor: pointer;
}
/* Dropdown button on hover & focus */
.rb-dropbtn:hover, .rb-dropbtn:focus {
  background-color: rgb(165, 74, 52);;
}
  
/* The container <div> - needed to position the dropdown content */
.rb-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
  
/* Dropdown Content (Hidden by Default) */
.rb-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Links inside the dropdown */
.rb-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
/* Change color of dropdown links on hover */
.rb-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .rb-dropdown-content container when the user clicks on the dropdown button) */
.rb-show {
  display:block;
}


/* styles for the button section below the resume */
#rb-file-input{
  display:none;
}

/*_______________________________________________________________________________________________*/
/* DEFAULT TEXT FOR ALL DIVS */
.rb-ui-sortable>li:empty:after{
  content:'<span class="handle">&#8645;</span>';
  color: rgb(179, 15, 15);
}

#rb-email:empty:before{
  content:"youremail@domain.com";
  color: rgb(172, 172, 172);
}
#rb-website:empty:before{
  content:"https://www.fakesite.com/";
  color: rgb(172, 172, 172);
}
[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: var(--placeholder-color);
  font-style: italic;
  pointer-events: none; /* Allows clicking through the text to focus the div */
}
.rb-section{
    margin-top:10pt;
}
.rb-section-header:empty:before{
  content:"Section, eg. Education, Work Experience, Skills, Activities";
  color: rgb(172, 172, 172);
}
.rb-responsibilities>li:empty:before{
  content:"Responsibilites list them here";
  color: rgb(172, 172, 172);
}
.rb-skill-list>li:empty:before{
  content:"List some of your skills or certs";
  color: rgb(172, 172, 172);
}
.rb-skill-list .rb-title:empty:before{
  content:"Type of Skills/certs, e.g. Language Skills, Computer Skills,etc ";
  color: rgb(172, 172, 172);
}



#rb-sortable-list {
}

.rb-sortable-item {
  cursor: move;

}
/* minor and GPA maybe scholarships */


/* visibility checkbox styling */
.rb-hide-label .rb-hide-toggle {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .rb-hide-label .rb-hide-toggle::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .rb-hide-label .rb-hide-toggle,
  .rb-hide-label .rb-hide-toggle::after {
    transition: all 100ms ease-out;
  }

  .rb-hide-label .rb-hide-toggle::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .rb-hide-label input[type=checkbox] {
    cursor: default;
  }

  .rb-hide-label .rb-hide-toggle:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .rb-hide-label .rb-hide-toggle:checked {
    background-color: #6e79d6;
  }

  .rb-hide-label .rb-hide-toggle:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .rb-hide-label :focus:not(.focus-visible) {
    outline: 0;
  }

  .rb-hide-label .rb-hide-toggle:checked:hover {
    background-color: #535db3;
  }
  /* end visibility checkbox styling */